<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../node_modules/vue/dist/vue.js">


    </script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(value,key,index) in info">{{value+" "+key+" "+index}}</li>
<!--        <li v-for="(i,index) in p">{{i+" "+index}}</li>-->
    </ul>
</div>

</body>
<script>
    new Vue({
        el: "#app",
        data: {
            info:{
                name:"tom",
                age:12,
                height:30
            }
        },


    })
</script>
</html>