<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,table  td{

            border: 1px solid #000;

        }

        table  td{

            padding: 10px 30px;

        }
    </style>
    <script src="../../node_modules/vue/dist/vue.js">


    </script>
</head>
<body>
<div id="app">
    <div v-if="books.length>0">
        <table style="align-content: center">
            <thead>
            <tr >
                <td></td>
                <td>书籍名称</td>
                <td>出版日期</td>
                <td>价格</td>
                <td>数量</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in books">
                <td>{{index}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <td>{{item.price|showPrice}}</td>
                <td><button @click="decrement(index)" :disabled="item.count <= 1">-</button>{{item.count}}<button @click="increment(index)">+</button></td>
                <td><button @click="remove(index)">移除</button></td>
            </tr>
            </tbody>
        </table>
        <h2>total:{{totalprice}}</h2>
    </div>
    <div v-else>
        购物车为空
    </div>

</div>

</body>
<script>
    new Vue({
        el: "#app",
        data: {
            books: [
                {id:1,name:"AXC",date:"2019-5",price:120,count:1},
                {id:2,name:"AXCw",date:"2019-1",price:125,count:1},
                {id:3,name:"AXCee",date:"2019-2",price:123,count:1},
                {id:4,name:"AXCsad",date:"2019-3",price:110,count:1}
            ]
        },
        methods:{
            getFinalPrice(price){
                return "￥"+price.toFixed(2)
            },
            decrement(index) {

                this.books[index].count--
            },
            increment(index) {
                this.books[index].count++
            },
            remove(index){
                this.books.splice(index,1)
            }
        },
        filters:{
            showPrice(price){
                return "￥"+price.toFixed(2)
            }
        },computed:{
            totalprice(){
                let total = 0
                for(let i=0;i<this.books.length;i++){
                    total += this.books[i].price *  this.books[i].count
                }
                return total
            }
        }


    })
</script>
</html>