<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../node_modules/vue/dist/vue.js">

    </script>
</head>
<body>
<div id="app">
    <select name="fruit" v-model="fruit">
        <option value="苹果" >苹果</option>
        <option value="草莓">草莓</option>
        <option value="香蕉">香蕉</option>
        <option value="菠萝">菠萝</option>
    </select>
    <h2>{{fruit}}</h2>
    <select name="fruit" v-model="fruits" multiple>
        <option value="苹果" >苹果</option>
        <option value="草莓">草莓</option>
        <option value="香蕉">香蕉</option>
        <option value="菠萝">菠萝</option>
    </select>
    <h2>{{fruits}}</h2>
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            fruit:"苹果",
            fruits:[]
        },methods:{

        }
    })
</script>
</body>
</html>